@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  font-family: "Inter";
  background-color: #fff;
  color: #404040;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body a {
  color: #1181fb;
}

.centerdiv {
  display: flex;
  align-items: center;
  height: 100vh;
}

.aligntopdiv {
  display: flex;
}

.hiringsymbol{
  background-color:blue;
  color: white;
  border-radius: 9999px;
  font-size: 75%;
  font-weight: 600;
  padding: 4px;
  padding-left: 7px;
  padding-right: 9px;
  margin-top:-4px;
  text-decoration: none !important;
}

.hiringsymbol:hover{
  color: lightgray !important;
}

.connectwithme {
  display: none;
}

.top {
  display: inline-block;
  max-width: 675px;
  margin: auto;
  padding: 1.5em;
}

.top-heading,
.currentwork,
.sidework,
.top-title,
.oldwork {
  margin-top: 1em;
}

.top-heading {
  display: inline;
}

.top-title {
  font-weight: 600;
  display: block;
}

b {
  font-weight: 600;
}

.company-logo {
  width: 1.2em;
  height: 1.2em;
}

.company-name {
  text-decoration: underline;
  display: inline-block;
  font-weight: 600;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: -5px;
}

.company-name > a:hover {
  color: unset;
}

.company-name > img {
  margin-right: 2px;
}

.work-item {
  margin-top: 16px;
  margin-bottom: 16px;
}

.spc {
  color: #daa563 !important;
  --background-color: #f6e9d8;
  --dark-version: #a47c4a;
}

.trustedfor {
  color: #1181fb !important;
  --background-color: #c4e0fe;
  --dark-version: #0d61bc;
}

.launchpad {
  color: #a0051d !important;
  --background-color: #e7c1c7;
  --dark-version: #780416;
}

.gwf {
  color: #b69d00 !important;
  --background-color: #ede7bf;
  --dark-version: #897600;
}

.neighborly {
  color: #019980 !important;
  --background-color: #BFF3E5;
  --dark-version: #019980;
}

.default {
  color: #1181fb !important;
  --background-color: #c4e0fe;
  --dark-version: #0d61bc;
}

.solveriq {
  color: #7e70dc !important;
  --background-color: #dfdbf6;
  --dark-version: #5f54a5;
}

.riceuniv {
  color: #183f7c !important;
  --background-color: #c5cfde;
  --dark-version: #122f5d;
}

.wildfire {
  color: #eb7060 !important;
  --background-color: #fadbd7;
  --dark-version: #b05448;
}

.email {
  color: inherit !important;
  --background-color: #dbdbdb;
  --dark-version: #545454;
}

.spc:hover,
.trustedfor:hover,
.launchpad:hover,
.gwf:hover,
.default:hover,
.solveriq:hover,
.riceuniv:hover,
.wildfire:hover,
.neighborly:hover,
.email:hover {
  background-color: var(--background-color);
  color: var(--dark-version) !important;
  transition: background-color 0.05s ease-in, color 0.05s ease-in;
}

.top-title.notif {
  display: block;
  background-color: #019980;
  padding: 9px;
  border-radius: 4px;
  color: white;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 1em;
}

.currentthing{
  padding: 16px 16px;
  box-shadow: inset 0 0 0 2px blue;
  background-color: rgba(0,0,255,.06);
  border-radius: 6px;
  color: #3d4045;
}

.currentthing > a{
  color: blue;
  text-decoration: none;
  text-underline-position: below;
  display: block;
  font-weight: 600;
  margin-top: 8px;}


.currentthing.covid{
  background-color: rgba(255, 43, 0,.06);
  box-shadow: inset 0 0 0 2px red
}

.currentthing.covid > a{
  color: red !important;
}


.work-heading {
  padding-right: 8px;
  margin-top: 16px;
  padding-left: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
  color: #fff;
}

/* Tooltip container */
.tooltip {
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.current-recent {
  margin-top: 8px;
  display: block;
}

.current-recent > a {
  text-decoration: underline;
  color: #585191;
}

.section {
  margin-top: 16px !important;
  display: inline-block;
}

.imagespacer{
  margin-top: 20px;
  margin-bottom: 20px;
}

.addtop{
  margin-top: 5px;
}


  a.airfoil-logo {
    display:block;
    color: blue !important;
    font-weight: 900;
    text-decoration: none;    transform-origin: 7% 0%;
    perspective: 100;
    -webkit-transform: scale(1.0) scaleZ(1.0) rotateZ(-22deg) translateX(-18px);
    -webkit-transform-origin: 7% 0%;
    -webkit-perspective: 100;
    -webkit-perspective-origin: 50% 50%;
    -moz-transform: scale(1.0) scaleZ(1.0) rotateZ(-22deg) translateX(-18px);
    -moz-transform-origin: 7% 0%;
    -moz-perspective: 100;
    -moz-perspective-origin: 50% 50%;
    -o-transform: scale(1.0) scaleZ(1.0) rotateZ(-22deg) translateX(-18px);
    -o-transform-origin: 7% 0%;
    -o-perspective: 100;
    -o-perspective-origin: 50% 50%;
    -ms-transform: scale(1.0) scaleZ(1.0) rotateZ(-22deg) translateX(-18px);
    -ms-transform-origin: 7% 0%;
    -ms-perspective: 100;
    -ms-perspective-origin: 50% 50%;
    transform: scale(1.0) scaleZ(1.0) rotateZ(-22deg) translateX(-18px);
    transform-origin: 7% 0%;
    perspective: 100;
    perspective-origin: 50% 50%;
    font-size: 2em;
}

.teamitem{
  display: flex;
  margin-bottom: 20px;
  margin-top: 40px;
}

.teamitem > .illust > img {
margin-top: 0px;
}

.teamitem > .illust{
  margin-right: 20px;
  min-width: 100px;
}

@media (max-width: 500px) {
  .illust {
    margin-top: 20px;
    margin-bottom: -10px;
  }
  .teamitem {
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 0px;
  }
  
}